.size {
    width: 60%;         
    height: auto;
    display: block;     
    margin: 0 auto;     
}
.google-font {
    font-family: 'Roboto', sans-serif;
}


.main-title {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #2c3e50;
    text-align: center;
}

.paragraph-text {
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.bold-text {
    font-weight: bold;
    color: gray;
    font-size: 1.2rem;
}

.italic-text {
    font-style: italic;
    font-family: 'Times New Roman', serif;
}


        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

.row{margin-top: 0px
}
.row2{margin: 80px 20px 0px 20px
}

.card-img-top{width: 50%;         
    height: auto;
    display: block;     
    margin: 0 auto; }
.img{left: 200 px}
.button{color: grey;}
